<!-- individual blog listing object -->
<a href="#/post/{{_id}}" class="blog-post-link">
  <div class="blog-post-preview">
    <h3>{{title}}</h3>
    <h5>{{author}} {{date}}</h5>
    <p>{{bodyPreview}}</p>
  </div>
</a>