<!-- individual blog post object -->
<a href="{{id}}" class="blog-post-listing">
  <div class="blog-post-preview">
    <h3>{{title}}</h3>
    <h5>{{author}} {{timePublished}}</h5>
    <p>{{postPreview}}</p>
  </div>
</a>